h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 35px;
    font-family: "Berkshire Swash", serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
}
h3 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 22px;
    font-weight: 600;
    color: #000000;
}
#header {
    padding: 15px 0;
}
.header-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#logo a {
    display: block;
    max-width: 65px;
    width: 100%;
}
.header-right nav ul {
    display: flex;
    align-items: center;
}
.header-right nav ul li {
    margin-right: 15px;
}
.header-right nav ul li:last-child{
    margin: 0;
}
.mobile-btn{
    display: none;
}
.mobile-btn span {
    width: 30px;
    height: 2px;
    display: block;
    background: #000000;
    margin-bottom: 5px;
    transition: all .3s ease-in;
}
.mobile-btn span:last-child {
    margin-bottom: 0;
}
.banner{
    height: calc(100vh - 72px);
    min-height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../images/main-banner.jpg");
    background-position: center;
    background-size: cover;
}
.banner:before{
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.banner .container{
    position: relative;
}
.cutlery-img {
    opacity: 0.65;
    width: 57px;
}
.frill-design-img{
    text-align: center;
    margin-bottom: 50px;
}
.banner-content{
    text-align: center;
}
.banner-content h1 {
    font-size: 130px;
    color: #ffffff;
    font-family: "Berkshire Swash", serif;
    margin-bottom: 50px;
}
.banner-content h3 {
    font-size: 28px;
    color: rgb(255, 119, 15);
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-feature {
    color: rgba(255, 255, 255, .84);
    font-size: 28px;
    font-weight: 600;
    position: relative;
    line-height: 28px;
}
.banner-feature span {
    display: inline-block;
    position: relative;
}
.banner-feature span:first-child {
    padding-right: 12px;
    margin-right: 5px;
}
.banner-feature span:first-child::after{
    content: '';
    background: rgba(255, 255, 255, .84);
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
}
.banner-feature:before {
    content: '';
    background: rgba(255, 255, 255, .84);
    width: 150px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    display: none;
}
.banner-feature:after {
    content: '';
    background: rgba(255, 255, 255, .84);
    width: 150px;
    height: 1px;
    position: absolute;
    right: 0;
    left: auto;
    top: 50%;
    display: none; 
}
.welcome-section {
    background-color: transparent;
    padding: 100px 0 200px;
    background-image: url("../images/welcome-bg.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.welcome-section:before{
    content: '';
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.7;
}
.welcome-section .container {
    position: relative;
}
.welcome-img1{
    background-image: url("../images/welcome-img.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 425px;
}
.welcome-img2{
    background-image: url("../images/about-img2.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
    position: relative;
}
.welcome-img2:after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.welcome-content p {
    margin-bottom: 40px;
}
.custom-btn {
    padding: 15px 40px;
    background: #ed1c24;
    color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in;
    display: inline-block;
}
.custom-btn:hover{
    transform: translateY(8px);
    color: #FFFFFF;
    transition: all .3s ease-in;
}
.open-hours {
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
.open-hours h4 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Berkshire Swash", serif;
}
.open-hours p {
    margin: 0 0 5px;
    color: #FFFFFF;
}
.open-hours p:last-child{
    margin: 0;
}
span.menuImg {
    display: block;
    margin-bottom: 20px;
}
.our-menu-wrap {
    margin-top: 120px;
    text-align: center;
}
.our-menu-wrap .menuImg {
    display: block;
    margin-bottom: 22px;
}
.menu-section{
    background-image: url("https://websitedemos.net/italian-restaurant-02/wp-content/uploads/sites/283/2020/01/dine-out.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.menu-section:before{
    content: '';
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.menu-section .container{
    position: relative;
    top: -130px;
}
.menu-section .row .col {
    padding: 0;
}
.dish-img {
    max-height: 350px;
}
.dish-info {
    background: #FFFFFF;
    border: 1px solid rgb(255, 119, 15);
    padding: 15px 60px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dish-price{
    display: block;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 0 30px;
    margin-top: 40px;
    position: relative;
}
.dish-price:before {
    content: '';
    background: #000000;
    width: 90px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.dish-price:after{
    content: '';
    background: #000000;
    width: 90px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.dish-img img {
    width: 100%;
}
.more-btn{
    text-align: center;
    margin-top: 50px;
}
.inside-section{
    padding: 50px 0 50px;
    text-align: center;
}
.insideWrap h5 {
    font-size: 20px;
    font-family: "Berkshire Swash", serif;
    margin: 20px 0 20px;
    font-weight: 500;
}
.insideWrap p{
    margin-bottom: 0;
}
.food-slider-section {
    padding: 50px 0;
    background: rgb(255, 119, 15, 0.1);
}
.food-slider-section h2{
    text-align: center;
}
.slick-initialized .slick-slide{
    background-color: #b32532;
    color: #FFF;
    height: 200px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
button.slick-next,
button.slick-prev{
    position: absolute;
    top: 50%;
    font-size: 0;
}
button.slick-next{
    right: -29px;
}
button.slick-prev{
    left: -45px;
}
button.slick-next:before,
button.slick-prev:before{
    font-family: bootstrap-icons !important;
    font-size: 30px;
    color: #ed1c24;
}
button.slick-next:before{
    content: "\f133";
}
button.slick-prev:before{
    content: "\f129";
}
.about-banner{
    background-image: url("../images/about-us-banner.jpg");
}
.about-banner:before{
    content: '';
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.about-banner .container{
    position: relative;
}
.sub-page-banner{
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 400px;
}
.sub-page-banner h1 {
    color: #FFFFFF;
    font-size: 64px;
    line-height: 65px;
    margin-bottom: 22px;
    font-family: "Berkshire Swash", serif;
    letter-spacing: 1px;
}
.sub-page-banner .frill-design-img{
    text-align: left;
}
.collection-section{
    padding: 50px 0 50px;
}
.collection-images {
    display: flex;
    flex-wrap: wrap;
}
.collection-images span {
    display: block;
    max-width: calc(50% - 10px);
    margin: 0 10px 0 0;
    border-radius: 10px;
    overflow: hidden;
}
.collection-images span img {
    width: 100%;
    height: 100%;
}
.collection-images span:nth-child(2){
    margin-right: 0;
}
.collection-images span:nth-child(3){
    margin-bottom: 0;
}
.collection-images span:last-child{
    margin:0;
}
.amenities-section {
    background: rgb(255, 119, 15, 0.1);
    padding: 50px 0;
}
.amenities-section .frill-design-img {
    text-align: left;
}
.amenities-section h2 {
    margin-bottom: 30px;
}
.amenity {
    font-size: 22px;
    font-family: "Berkshire Swash", serif;
    display: flex;
    align-items: center;
    line-height: 26px;
}
.amenity span {
    margin-left: 8px;
}
.amenity svg {
    fill: #ed1c24;
}
.contact-banner{
    background-image: url("https://websitedemos.net/italian-restaurant-02/wp-content/uploads/sites/283/2020/01/dine-out.jpg");
}
.book-table .amenity {
    margin-bottom: 15px;
}
.book-table .amenity:last-child{
    margin-bottom: 0;
}
.map-section {
    padding: 50px 0;
}
.map-wrapper iframe {
    width: 100%;
}
.address-section {
    background: rgb(255, 119, 15, 0.1);
    padding: 50px 0;
}
.reviews {
    margin-top: 40px;
}
.reviews ul {
    display: flex;
    align-items: center;
}
.reviews ul li{
    margin-right: 20px;
}
.reviews ul li a svg{
    fill: #ed1c24;
}
.reviews ul li:last-child{
    margin-right: 0;
}
.menu-details {
     padding: 50px 0;
 }
.menu-detail-img {
    border-radius: 40px;
    overflow: hidden;
    transition: all .3s ease-in;
    height: 100%;
    max-height: 450px; 
}
.menu-detail-img:hover{
    transform: translateY(8px);
    color: #FFFFFF;
    transition: all .3s ease-in;
}
.menu-detail-content .frill-design-img {
    text-align: left;
    max-width: 130px;
}
.menu-detail-content h2 {
    margin-bottom: 20px;
}
.menu-detail-content ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.menu-detail-content ul li:last-child{
    margin-bottom: 0;
}
.menu-detail-desc{
    width: 70%;
}
.menu-detail-desc h4 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
    font-weight: 600;
}
.menu-detail-desc p:last-child{
    margin-bottom: 0;
}
.menu-detail-price {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    width: 30%;
    text-align: right;
}
.menu-details .row {
    margin-bottom: 50px;
}
.menu-details .row:last-child{
    margin-bottom: 0;
}
.more-menu {
    text-align: center;
}
.map-wrapper {
    border: 1px solid #ed1c24;
    padding: 5px;
}

#footer{
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    text-align: center;
    position: relative;
}
#footer:before{
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
#footer .container{
    position: relative;
    z-index: 1;
}
.footer-content h2{
    color: #FFFFFF;
}
.footer-content {
    color: #ffffff;
}
.res-numb{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 60px;
    font-family: "Berkshire Swash", serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #FFFFFF;
}
.copyright-text {
    margin: 0;
    color: #ffffff;
}

/* responsiveness */
@media (max-width: 1199px){
    h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .dish-price {
        margin-top: 20px;
    }
    .our-menu-wrap {
        margin-top: 90px;
    }
}

@media (max-width: 1023px){
    h2 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    section.banner {
        height: auto;
        min-height: 500px;
    }
    .banner-content h1 {
        font-size: 85px;
        margin-bottom: 30px;
    }
    .banner-feature:before,
    .banner-feature:after{
        display: none;
    }
    .banner-feature {
        font-size: 25px;
        line-height: 25px;
    }
    .welcome-section{
        padding: 50px 0 100px;
    }
    .welcome-content {
        margin: 0 0 20px;
    }
    .welcome-img1{
        margin-bottom: 30px;
    }
    .menu-section .container {
        top: -70px;
    }
    #footer {
       padding: 50px 0;
    }
    .amenity{
        font-size: 18px;
    }
    .frill-design-img{
        margin-bottom: 30px;
    }
    .menu-detail-desc h4{
        font-size: 24px;
    }
    .map-wrapper {
        margin-bottom: 30px;
    }
    .sub-page-banner h1{
        margin-bottom: 50px;
    }
    .sub-page-banner {
        height: 350px;
    }
    .sub-page-banner .frill-design-img {
        max-width: 180px;
    }
    .sub-page-banner h1 {
        margin-bottom: 20px;
        font-size: 50px;
    }
    button.slick-next,
    button.slick-prev,
    button.slick-next:before,
    button.slick-prev:before{
        display: none !important;
    }
}

@media (max-width: 767px) {
    .mobile-btn{
        display: block;
    }
    .amenity span {
        font-size: 16px;
    }
    .menu-detail-img {
        max-height: 200px;
    }
    .address-section h3 {
        font-size: 18px;
        line-height: 30px;
    }
    div#logo a {
        max-width: 50px;
    }
    .toggle-btn span:first-child {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        transition: all .3s ease-in;
    }
    .toggle-btn span:nth-child(2) {
        opacity: 0;
        transition: all .3s ease-in;
    }
    .toggle-btn span:last-child {
        -webkit-transform: rotate(45deg) translate(-4px, -1px);
        transform: rotate(45deg) translate(-4px, -1px);
        transition: all .3s ease-in;
    }
    .header-right nav {
        position: absolute;
        width: 100%;
        left: 0;
        background: #ffffff;
        top: 72px;
        z-index: 2;
        border-top: 1px solid #000000;
        padding: 20px 15px;
        display: none;
    }
    .header-right nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header-right nav ul li {
        margin: 0 0 25px 0;
    }
    section.banner {
        min-height: 450px;
    }
    .banner-content h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .cutlery-img{
        display: none;
    }
    .banner-feature {
        font-size: 22px;
        line-height: 26px;
    }
    .banner-feature span{
        display: block;
    }
    .banner-feature span:first-child {
        padding-right: 0;
        margin-right: 0;
    }
    .banner-feature span:first-child::after{
        display: none;
    }
    .frill-design-img {
        max-width: 200px;
        margin: 0 auto 20px;
    }
    .welcome-img1,
    .welcome-img2{
        min-height: 325px;
        height: auto;
    }
    .our-menu-wrap {
        margin-top: 50px;
    }
    .insideWrap {
        margin-block-start: 20px;
    }
    .res-numb {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .sub-page-banner{
        height: 300px;
    }
    .sub-page-banner .frill-design-img {
        margin: 0;
    }
    .menu-section .row .col {
        padding: 0 12px 0 12px;
    }
    .food-slider-section,
    .collection-section,
    .amenities-section,
    .menu-details,
    .map-section,
    .address-section,
    #footer{
        padding: 30px 0 30px;
    }
    .amenities-section h2 {
        margin-bottom: 20px;
    }
    .amenities-section .frill-design-img {
        text-align: left;
        margin: 0 0 20px;
    }
    .amenity{
        margin-bottom: 20px;
    }
    .amenities-section .container .col-md-3:last-child .amenity{
        margin: 0;
    }
    .menu-details .row:first-child{
        flex-direction: column-reverse;
    }
    .menu-details .row{
        margin-bottom: 30px;
    }
    .menu-detail-content{
        margin-bottom: 20px;
    }
    .address-section .amenity {
        margin: 0;
    }
    .reviews,
    .book-table{
        margin-top: 20px;
    }
    .address-wrapper h3 {
        margin-bottom: 10px;
    }
    .menu-detail-content .frill-design-img {
        max-width: 120px;
        margin: 0 0 20px;
    }
    .dish-img {
        max-height: 300px;
    }
    .slick-initialized .slick-slide{
        margin: 0;
    }
    .collection-images span{
        margin: 0 0 10px 0;
        max-width: 100%;
    }
    .book-table .amenity {
        margin-bottom: 15px;
    }
}